/* ClientOrderView.css */

.client-order-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  .photo {
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
  }
  
  
  .button {
    margin-top: 16px;
    padding: 8px 16px;
  }
  